body {
  font-family: "Playfair Display", serif;
}

:root {
  --primary-orange-1: #ffba08;
  --primary-orange-2: #faa307;
  --primary-orange-3: #f48c06;
  --primary-orange-4: #e85d04;

  --primary-red-1: #dc2f02;
  --primary-red-2: #d00000;
  --primary-red-3: #9d0208;

  --primary-dark-1: #6a040f;
  --primary-dark-2: #370617;
  --primary-dark-3: #03071e;
}

.container {
  max-width: 1280px;
  margin: auto 0;
}

/* HEADER */
.container-fluid {
  display: flex;
  justify-content: space-around;
}

header.main-header {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.navbar-light .navbar-brand {
  color: white !important;
}

nav.navbar.navbar-expand-lg.navbar-light {
  padding-top: 20px !important;
}

div#navbarNav {
  display: flex;
  justify-content: flex-end;
  gap: 19%;
}
ul.navbar-nav {
  display: flex;
  gap: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.order {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: flex-end;
}

ul.oerding-icons {
  padding-left: 0;
  margin-bottom: 0;
  display: flex;
  list-style: none;
  gap: 20px;
  flex-direction: row;
}

li.icons-list {
  color: white;
}

button.online-order-btn {
  padding: 10px 18px;
  border-radius: 20px;
  background-color: orange;
  color: white;
  border: none;
}

/* hero-section */
section.hero-section.hero {
  padding-block-start: 15%;
  padding-block-end: 10%;
}

.hero-section.hero {
  background-image: url(../images/hero-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
}

h1.hero-title {
  color: white;
  padding-bottom: 18px;
  font-size: 35px;
  line-height: 24.5px;
  font-family: "Edu NSW ACT Cursive", cursive;
}

p.hero-para {
  color: white;
  padding-bottom: 18px;
  font-size: 16px;
  line-height: 24.5px;
}

button.order-now-btn {
  padding: 15px 30px;
  border-radius: 20px;
  border: none;
  background-color: orange;
  color: white;
  font-size: 18px;
}

.hero-data {
  padding-right: 13%;
}

/* offer section */
section.offer-section.offer {
  padding-block-start: 5%;
  padding-block-end: 5%;
}

.offer-head {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-bottom: 5%;
}

h1.offer-title {
  font-size: 55px;
  color: var(--primary-dark-2);
  font-family: "Edu NSW ACT Cursive", cursive;
  padding-bottom: 4%;
}

p.offer-slogan {
  font-size: 24px;
  font-family: "Edu NSW ACT Cursive", cursive;
}

img.offers-img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  border: none;
}

.owl-dots {
  display: none;
}

/* image overlay */
.offer-item {
  position: relative;
  overflow: hidden; /* hides overlay outside the image */
}

.offer-imge.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  opacity: 0; /* hidden by default */
  transition: opacity 0.4s ease;
  background-color: rgba(220, 47, 2, 0.7); /* transparent red overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.offer-item:hover .offer-imge.overlay {
  opacity: 1; /* show on hover */
}

.overlay-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h5.off-over-head {
  font-family: "Edu NSW ACT Cursive";
  font-size: 25px;
  line-height: 34.5px;
  margin-bottom: 34px;
}

p.offer-para {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  font-family: "Edu NSW ACT Cursive";
}

/* menu section starts */
section.menu-section.menu {
  padding-block-start: 5%;
  padding-block-end: 5%;
}

.menu-head {
  display: flex;
  flex-direction: column;
}

.menu-title {
  font-size: 55px;
  color: var(--primary-dark-2);
  font-family: "Edu NSW ACT Cursive", cursive;
  display: flex;
  justify-content: center;
  margin-bottom: 4%;
}

.menu-tabs {
  display: flex;
  justify-content: center;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background-color: var(--primary-orange-4) !important;
  color: white !important;
  border-radius: 12px;
}

.nav-link {
  font-size: 18px;
  font-weight: 500;
  color: var(--primary-dark-3) !important;
}

ul#pills-tab {
  margin-bottom: 5% !important;
}

.menu-cards {
  flex-wrap: wrap;
  gap: 8px;
}

.menu-card-item {
  height: fit-content;
  object-fit: cover;
}

.mutton-items,
.chicken-items,
.fish-items,
.egg-items,
.veg-items {
  width: 100%;
  height: 250px;
}

.menu-detail {
  display: flex;
  flex-direction: column;
  padding-block-start: 20px;
  background-color: var(--primary-dark-2);
  color: var(--primary-orange-3);
  width: 100%;
}

h5.dishname {
  display: flex;
  justify-content: center;
  padding-bottom: 8%;
  font-size: 25px;
  font-weight: 600;
  font-family: "Edu NSW ACT Cursive";
}

p.half,
p.full {
  padding-left: 12%;
}

/* master chefs section */
section.master-chef-section {
  padding-block-start: 5%;
  padding-block-end: 5%;
}

.master-chef-head {
  display: flex;
  flex-direction: column;
}

h1.master-chef.title {
  display: flex;
  justify-content: center;
  padding-bottom: 4%;
  font-size: 55px;
  color: var(--primary-dark-2);
  font-family: "Edu NSW ACT Cursive", cursive;
}

p.master-chef-para {
  text-align: center;
  margin-bottom: 5%;
  font-size: 24px;
  font-family: "Edu NSW ACT Cursive", cursive;
}

.chef-image {
  width: 100%;
}

.chef-img,
.chef-content {
  padding-left: 0 !important;
  width: 50%;
}

.chef-head {
  padding-block-start: 25%;
  margin-bottom: 5%;
}

p.chef-para {
  font-size: 32px;
}

h5.chef-title {
  font-size: 18px;
  color: #ffba08;
  margin-bottom: 0 !important;
}

button.learn-more-btn {
  padding: 15px 25px 15px 25px;
  border-radius: 16px;
  border: none;
  background-color: orange;
  color: white;
  transition: 0.3;
}

h4.order {
  width: 66%;
  margin-bottom: 5%;
  line-height: 38.5px;
  font-family: cursive;
}

p.order-facality {
  font-size: 16px;
  line-height: 31.5px;
  font-weight: 500;
  margin-bottom: 5%;
}

button.learn-more-btn:hover {
  zoom: inherit;
  transition: 0.3s;
  color: black;
  padding: 20px 30px 20px 30px;
}

/* Contact section */
.contact-img,
.contact-form {
  width: 640px;
  /* height: 500px; */
}

img.contact-image {
  width: 100%;
  height: 500px;
}

.row.peronal-details {
  display: flex;
  width: 100%;
  gap: 30px;
  margin-bottom: 5%;
}

input#fname {
  width: 45%;
  padding: 15px 20px 15px 20px;
  text-align: center;
}

input#email {
  width: 50%;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

.row.timeslot {
  display: flex;
  width: 100%;
  gap: 32px;
  margin-bottom: 5%;
}

input#dnt {
  width: 45%;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

select#persons {
  width: 45%;
  padding: 20px 20px 20px 20px;
  text-align: center;
}

textarea {
  width: 100%;
  text-align: center;
  margin-bottom: 5% !important;
}

button.book-now-btn {
  width: 100%;
  padding: 20px 20px 20px 20px;
  border: none;
  background-color: #f48c06;
  color: white;
}

.contact-form {
  background-color: black;
  padding-left: 12px !important;
}
